<ng-map center="{{Locations.currentLocation}}">
	<marker position="{{Locations.currentLocation}}" title="Hola mundo!"></marker>
</ng-map>

<button ng-repeat="location in Locations.data" class="button button-full icon-right ion-chevron-right button-calm" ng-click="Locations.moverMapa(location)" ng-style="{
'background-color': Locations.selected == location._id ? 'none': 'rgba(0,0,0,0.5)'
}">
<strong>{{location.name}}</strong>
{{location.coords[0].latitude}},
{{location.coords[0].longitude}}
</button>

